html {
  height: 99%;
  width: 99%;
}

body {
  height: 80%;
  width: 90%;
  padding: 0;
  margin: auto;
  margin-top: 5%;
  background: url(bkrnd.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#board {
  height: 90%;
  width: 68%;
  padding:0;
  position: relative;
  float: left;
  z-index: 1;
}

.row {
  height: 33%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.position {
  height: 99%;
  width: 32%;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, .4);
  padding: 0;
  margin:0;
  float: left;
  position: relative;
  left: 1%;
  top: 1%;
  color: black;
  text-align: center;
  z-index: 0;
}

aside {
  position: relative;
  top: 20px;
  float: left;
  width: 27%;
  height: 40%;
  margin: 0;
  padding: 10px;
}

footer {
  position: relative;
  height: 15%;
  width: 50%;
}

h2 {
  background: #c6d934;
  background-image: linear-gradient(to bottom, #c6d934, #b8572b);
  border-radius: 10px;
  text-align: center;
  font-family: fantasy;
  color: black;
  text-decoration: underline;
  border-radius: 10px;
  border: solid #000000 2px;
  font-size: 30px;
}

h2:hover {
  background: #3410c7;
  background-image: linear-gradient(to bottom, #3410c7, #890bb3);
  color: white;
  border-radius: 10px;
  border: solid #000000 2px;
}

button {
  position: relative;
  float: right;
}

#x, #o {
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: .7;
}

.btn {
  background: #c6d934;
  background-image: -webkit-linear-gradient(top, #c6d934, #b8572b);
  background-image: -moz-linear-gradient(top, #c6d934, #b8572b);
  background-image: -ms-linear-gradient(top, #c6d934, #b8572b);
  background-image: -o-linear-gradient(top, #c6d934, #b8572b);
  background-image: linear-gradient(to bottom, #c6d934, #b8572b);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: fantasy;
  color: #000000;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

.btn:hover {
  background: #3410c7;
  background-image: -webkit-linear-gradient(top, #3410c7, #890bb3);
  background-image: -moz-linear-gradient(top, #3410c7, #890bb3);
  background-image: -ms-linear-gradient(top, #3410c7, #890bb3);
  background-image: -o-linear-gradient(top, #3410c7, #890bb3);
  background-image: linear-gradient(to bottom, #3410c7, #890bb3);
  text-decoration: none;
  color: white;
}

#x_wins, #o_wins, #player_turn {
  background: #c6d934;
  background-image: linear-gradient(to bottom, #c6d934, #b8572b);
  border-radius: 10px;
  text-align: center;
  font-family: fantasy;
  color: black;
  font-weight: bold;
  padding: 5px;
  border: solid #000000 2px;
  font-size: 26px;
}

#x_wins:hover, #o_wins:hover, #player_turn:hover {
  background: #3410c7;
  background-image: linear-gradient(to bottom, #3410c7, #890bb3);
  color: white;
}
